In [13]:
import pandas as pd
import sqlite3
###
# Connexion à la base de données SQLite
conn = sqlite3.connect('olist.db')

In [14]:
import pandas as pd

def view_table(table, limit):
    query = f"""
        SELECT *
        FROM {table}
        LIMIT {limit}
    """
    return pd.read_query(query, conn)

In [15]:
# Table orders, first 3 columns
view_table('orders', 5)

AttributeError: module 'pandas' has no attribute 'read_query'

In [ ]:
### Première requête

# Lire et exécuter une requête SQL à partir d'un fichier
query = read_query('first_request.sql')

# Exécuter la requête et charger le résultat dans un DataFrame pandas
df = pd.read_sql_query(query, conn)

# Afficher le DataFrame
print(df)

NameError: name 'read_query' is not defined

In [ ]:
query = """
SELECT
    MAX(DATETIME(order_purchase_timestamp))
FROM
    orders

"""
df = pd.read_sql_query(query, conn)
print(df)

  MAX(DATETIME(order_purchase_timestamp))
0                     2018-10-17 17:30:18

In [ ]:
### Seconde requête

# Lire et exécuter une requête SQL à partir d'un fichier
query = read_query('second_request.sql')

# Exécuter la requête et charger le résultat dans un DataFrame pandas
df = pd.read_sql_query(query, conn)

# Afficher le DataFrame
print(df)

                           seller_id  total_revenue_seller
0   1025f0e2d44d7041d6cf58b6550e0bfa             138208.56
1   1f50f920176fa81dab994f9023523100             106655.71
2   46dc3b2cc0980fb8ec44634e21d2718e             122811.38
3   4869f7a5dfa277a7dca6462dcf3b52b2             226987.93
4   4a3ca9315b744ce9f8e9374361493884             196882.12
5   53243585a1d6dc2643021fd1853d8905             217940.44
6   5dceca129747e92ff8ef7a997dc4f8ca             111126.73
7   620c87c171fb2a6dd6e8bb4dec959fc6             112461.50
8   6560211a19b47992c3666cc44a7e94c0             120702.83
9   7a67c85e85bb2ce8582c35f2203ad736             139658.69
10  7c67e1448b00f6e969d365cea6b010ab             186570.05
11  7d13fca15225358621be4086e1eb0964             112436.18
12  7e93a43ef30c4f03f38b393420bc753a             165981.49
13  955fee9216a65b617aa5c0531780ce60             131836.71
14  cc419e0650a3c5ba77189a1882b7556a             101090.96
15  da8622b14eb17ae2831f4ac5b9dab84a             159816.87
16  fa1c13f2614d7b5c4749cbc52fecda94             190917.14

In [ ]:
### Troisième requête

# Lire et exécuter une requête SQL à partir d'un fichier
query = read_query('third_request.sql')

# Exécuter la requête et charger le résultat dans un DataFrame pandas
df = pd.read_sql_query(query, conn)

# Afficher le DataFrame
print(df)

In [ ]:
### Quatrième requête

# Lire et exécuter une requête SQL à partir d'un fichier
query = read_query('fourth_request.sql')

# Exécuter la requête et charger le résultat dans un DataFrame pandas
df = pd.read_sql_query(query, conn)

# Afficher le DataFrame
print(df)

   customer_zip_code_prefix  total_orders_by_zip_code  average_review_score
0                     18900                        34              4.794118
1                     15910                        32              4.687500
2                     12242                        32              4.687500
3                     80030                        35              4.685714
4                     13500                        33              4.636364